In [1]:
import pandas as pd
import numpy as np

In [2]:
data = {
    "department":["IT", "IT", "HR", "HR", "SALES","SALES"],
    "salary":[60000, 65000, 50000, 52000, 70000, 72000]
}

df = pd.DataFrame(data)
print(df)

  department  salary
0         IT   60000
1         IT   65000
2         HR   50000
3         HR   52000
4      SALES   70000
5      SALES   72000

In [3]:
grouped = df.groupby("department")["salary"].agg(["mean","count"])

print("GroupBy result: ")
print(grouped)

GroupBy result:
               mean  count
department
HR          51000.0      2
IT          62500.0      2
SALES       71000.0      2

In [6]:
employees = pd.DataFrame({
    "emp_id":[1,2,3],
    "name": ["Alice", "Bob", "Charlie"]
})

salaries = pd.DataFrame({
    "emp_id":[1,2,3],
    "salary":[60000, 65000, 70000]
})

# Merging two dataFrames on ID
merged_df = pd.merge(employees, salaries, on="emp_id")

print("Merged DataFrame: ")
print(merged_df)

Merged DataFrame:
   emp_id     name  salary
0       1    Alice   60000
1       2      Bob   65000
2       3  Charlie   70000

In [7]:
scores_df = pd.DataFrame({
    "name":["Alice", "Bob","Charlie"],
    "score":[85,72, 90]
})

# create new column using logic
scores_df["grade"] = scores_df["score"].apply(
    lambda x: "Pass" if x >= 80 else "Fail"
)

print("Scores with grades: ")
print(scores_df)

Scores with grades:
      name  score grade
0    Alice     85  Pass
1      Bob     72  Fail
2  Charlie     90  Pass

In [ ]:
sales = pd.DataFrame({
    "region": ["East", "East", "West", "West"],
    "product": ["A", "B", "A", "B"],
    "revenue": [100, 150, 200, 250]
})

# summarize numeric data
pivot = pd.pivot_table(
    sales, 
    values="revenue",
    index="region",
    columns="product",
    
)